<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <%- include('includes/nav')%>
    <main>
        <h1 style="margin-top: 10px;">My Projects</h1>
        <div class="projects-list">
          <% myProjects.forEach( project =>{ %>
            <section class="projects">
                <a target="_blank" href="<%=project.link%>"><h3><%=project.name%></h3></a></a>
                <div class="projectText">
                  <div class="desc"><%=project.desc%></div>
                  <a target="_blank" href="<%=project.code%>"><div id="sourceCode">Source Code</div></a></a>       
                </div>
                <div class="projectDisplay">
                    <br>
                    <img class="projectImage" src="images/<%=project.img%>">
                    <div class="languageUsed">
                        <h4 style="text-align: center; margin-top: 0px;">Technologies Used</h4>
                        <div class="languageUsed-container">
                          <% project.languages.forEach((tech) => {%>
                              <img alt="<%=tech%>" title="<%=tech%>" src="/images/icons/<%=tech.toLowerCase()%>.png">
                            <%})%>
                        </div>
                    </div>
                </div>
            </section>
            <br><br><br>
          <%})%>
        </div>

    </main>
    <%- include('includes/footer')%>
</body>
</html>