<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <%- include('includes/nav')%>
    <main>
        <h1 style="margin-top: 10px;">My Projects</h1>
        <% myProjects.forEach((project, index)=>{%>
        <section class="projects">
            <h3><%=project.name%></h3>
            <div><a target="_blank" href="<%=project.link%>">URL</a> | <a target="_blank" href="<%=project.code%>">Source Code</a></div>    
            <div class="projectDisplay">
                <img class="projectImage" src="<%=project.img%>">
                <div class="projectDisplayText">
                    <h3 style="text-align: center; border-bottom: 2px solid black;">#<%=index + 1%><h3>
                    <h4 style="text-align: center;margin-top: 0px;">Languages:</h4>
                    <ul>
                        <% project.languages.forEach((lang) => {%>
                            <li><%=lang%></li>
                        <%})%>
                    </ul>
                </div>
            </div>
            <br>
            <div><%=project.desc%></div>
        </section>
        <%})%>
    </main>
    <%- include('includes/footer')%>
</body>
</html>